# VCS and editor metadata
**/.git
**/.DS_Store
**/.idea
**/.vscode

# Build outputs and caches
**/build
**/dist
**/output
**/.cache
**/node_modules
**/.pytest_cache
**/__pycache__

prod-local/
public-html/
demo/
mlnode/
**/.venv
**/*.env
